body {
    background: url(dust_scratches.png);
    background: cover;
}

#aboutMe {
    background: url(vintage-concrete.png);
    background: cover;
}

#portfolioCard {
    background: url(vintage-concrete.png);
}